# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/

# Backup files
*.bak

# PyCharm
.idea/
*.iml
*.ipr
*.iws
*.iws

# AWS
.idea/aws.xml

# Gradle and IntelliJ
.idea/gradle.xml
.idea/libraries/
*.iws

# Visual Studio Code
.vscode/

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Python
*.pyc
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# Celery
celerybeat-schedule.*

# SageMath
*.sage.py

# mkdocs documentation
/site/

# mypy
.mypy_cache/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json

# Package Control
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
GitHub.sublime-settings

# Miscellaneous
out/
atlassian-ide-plugin.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml
venv/  