{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }

  .navbar a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  .form-group button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-group button:hover {
    background-color: #555;
  }

  /* Custom CSS styles */
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
</style>

<div class="navbar">
  <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
  <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
  <a href="{% url 'About-me' %}">{% trans "About Me" %}</a>
  <a href="{% url 'Contact-me' %}">{% trans "Contact Me" %}</a>
</div>

<div class="container">
  <h2>{% trans "Change Password" %}</h2>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="signin-button" type="submit" name="action">{% trans "Change Password" %}</button>
    <a class="forgot-password-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
</div>
{% endblock %}
