
{% load i18n %}
{% load account %}



{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }

  .navbar a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Custom CSS styles */
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  .content-message {
    margin-bottom: 20px;
  }

  .content-message p {
    font-size: 16px;
  }

  .password_reset input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .password_reset input[type="submit"]:hover {
    background-color: #333;
  }
</style>

<div class="navbar">
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'account_login' %}">Sign In</a>
  <a href="{% url 'account_signup' %}">Sign Up</a>
  <a href="{% url 'About-me' %}">About-me</a>
  <a href="{% url 'Contact-me' %}">Contact-me</a>
</div>

<div class="container">
  <h2>{% trans "Password Reset" %}</h2>

  <div class="content-message">
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
  </div>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset My Password' %}" />
  </form>

  <div class="content-message">
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
